<div class="toolbar">
	@for (format of formats;track format) {
		@switch (format.type) {
			@case ("button") {
				<div class="toolbar__action">
					<button
						[matTooltip]="format.tooltip"
						(mousedown)="$event.preventDefault()"
						[class.toolbar__action--active]="isFormatActive | call: actives() : format.name"
						mat-icon-button
						(click)="formatClick.emit(format.name)"
					>
						<mat-icon>{{ format.icon }}</mat-icon>
					</button>
				</div>
			}
			@case ("overlay") {
				<button
					mat-icon-button
					appTextEditorOverlayAction
					[class.toolbar__action--active]="isFormatActive | call: actives() : format.name"
					[component]="format.overlay.component"
					[options]="format.overlay.options || {}"
					(mousedown)="$event.preventDefault()"
				>
					<mat-icon>{{ format.icon }}</mat-icon>
				</button>
			}
			@case ("select") {
				<app-app-text-editor-select-action
					[format]="format"
				/>
			}
		}

	}
</div>
