.color {
	&.red {
		color: red;
	}
	&.blue {
		color: blue;
	}
	&.green {
		color: green;
	}
	&.purple {
		color: purple;
	}
	&.indigo {
		color: indigo;
	}
	&.cyan {
		color: cyan;
	}
	&.orange {
		color: orange;
	}
	&.blueviolet {
		color: blueviolet;
	}
}
