<div class="toolbar__action--select">
	<mat-form-field (mousedown)="$event.preventDefault(); $event.stopPropagation()" appearance="fill">
		<mat-label>{{ label() }}</mat-label>
		<mat-select [value]="activeItem()">
			@for (item of options(); track item.label) {
				<mat-option
					(click)="editor.applyFormat({
						level: item.level
					})"
					[value]="item.level">
					{{ item.label }}
				</mat-option>
			}
			<mat-option
				(click)="editor.removeFormat()"
				[value]="0">
				{{ normalLabel() }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
