<div class="palette">
	@for (color of data.options.colors; track color) {
		<div
			[matTooltip]="color.tooltip"
			class="color"
			(mousedown)="$event.preventDefault();"
			(click)="applyColor(color.color)"
			matRipple
			[matRippleColor]="'#fff8'"
			[style.background-color]="color.color"
			[matRippleRadius]="50">

			@if (isSelected(color.color)()) {
				<mat-icon>
					check
				</mat-icon>
			}
		</div>
	}
	<div
		matTooltip="Sem cor"
		class="color remove"
		(mousedown)="$event.preventDefault();"
		(click)="removeColor()"
		matRipple
		[matRippleColor]="'#fff8'"
		[matRippleRadius]="50">
		@if (allDeselected()) {
			<mat-icon>
				check
			</mat-icon>
		} @else {
			<mat-icon>
				close
			</mat-icon>
		}
	</div>
</div>
