:host {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.editor {
	$border: gray;
	width: 90vw;
	max-width: 1200px;
	border-radius: 10px;
	border: solid 1px gray;

	display: flex;
	flex-direction: column;

	&__toolbar {
		border-bottom: solid 1px $border;
		display: flex;
	}

	&__format:not(:last-child) {
		border-right: solid 1px $border;
	}

	&__format--palette {
		display: grid;
		gap: .3rem;
		width: 200px;
		padding: .5rem;
		grid-template-columns: repeat(auto-fill, 25px);

		.color {
			width: 25px;
			height: 25px;
			border: none;
			cursor: pointer;
			border-radius: 5px;

			&.red {
				background-color: red;
			}

			&.blue {
				background-color: blue;
			}

			&.green {
				background-color: green;
			}

			&.purple {
				background-color: purple;
			}
		}
	}

	&__content {
		border-top: none;
		height: 85vh;
		outline: none;
		padding: 1rem;
	}
}

::ng-deep {
	.color {
		&.red {
			color: red;
		}

		&.blue {
			color: blue;
		}

		&.green {
			color: green;
		}

		&.purple {
			color: purple;
		}
	}
}
